
.todo {
  // border: 2px solid #7575753f;
  background-color:rgb(77, 77, 77);
  border-radius: 1rem;
  transition: 300ms ease-in-out;

  h3 {
    color: rgba(255, 250, 250, 0.829);
    cursor: pointer;
    display: inline-block;
  }
  
}

.todo:hover {
  border: 5px solid #7575753f;
  background-color:rgb(41, 41, 41);
  border-radius: 2rem;
  

  h3 {
    color: rgba(255, 250, 250, 0.911);
    font-size: 1.6rem;
  }

}

.completed {
  text-decoration: line-through 3px solid rgba(239, 255, 255, 0.774);
  font-weight: 800;  
  font-style: italic;


}



.falsy {
  width: 98%;
  display: flex;
  margin: auto;
  padding-top: 0.4rem;
  color: rgba(255, 0, 0, 0.644);
  font-style: italic;
}

.true {
  width: 98%;
  display: flex;
  margin: auto;
  padding-top: 0.4rem;
  color: rgba(17, 201, 48, 0.966);
  font-style: italic;
}